<!DOCTYPE html>
<html>
<head>
    <title>Pool Logger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>
    Water Test Form  for {{weekday}}
    </h1>   
    <p>Main Pool Tests:</p>
    <table data-pool="main" border="1" cellpadding="5">
        <tr>
            <th>Time</th>
            <th>Temp</th>
            <th>Bather Load</th>
            <th>pH</th>
            <th>FAC</th>
            <th>TAC</th>
            <th>TDS</th>
            <th>Analyser pH</th>
            <th>Analyser FAC</th>
            <th>Tester Name</th>
        </tr>

        {% for row in water_tests[0] %}
            <tr>
                <td class="time" >{{ row.time }}</td>
                <td>
                    <input name="temp" type="number"></input>
                </td>
                <td>
                    <input name="bather_load" type="number"></input>
                </td>
                <td>
                    <input name="ph" type="number"></input>
                </td>
                <td>
                    <input name="fac" type="number"></input>
                </td>
                <td>
                    <input name="tac" type="number"></input>
                </td>
                <td>
                    <input name="tds" type="number"></input>
                </td>
                <td>
                    <input name="an_ph" type="number"></input>
                </td>
                <td>
                    <input name="an_fac" type="number"></input>
                </td>
                <td>
                    <input name="tester" type="text"></input>
                </td>
                <td>
                    <button onclick="SubmitButtonClick(this)">Submit</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <p>Spa Pool Tests:</p>
        <table data-pool="spa" border="1" cellpadding="5">
            <tr>
                <th>Time</th>
                <th>Temp</th>
                <th>Bather Load</th>
                <th>pH</th>
                <th>FAC</th>
                <th>TAC</th>
                <th>TDS</th>
                <th>Analyser pH</th>
                <th>Analyser FAC</th>
                <th>Tester Name</th>
            </tr>

        {% for row in water_tests[1] %}
            <tr>
                <td class="time" >{{ row.time }}</td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="text"></input>
                </td>
                <td>
                    <button onclick="SubmitButtonClick(this)">Submit</button>
                </td>
            </tr>
        {% endfor %}
        </table>

</body>

<script>
function SubmitButtonClick(button) {

    const row = button.closest("tr");
    const table = button.closest("table")
    const poolType = table.dataset.pool;
    
    const data = {
        pool: poolType,
        time: row.querySelector(".time").textContent
    };

    const inputs = row.querySelectorAll("input");
    console.log(inputs[0])
    inputs.forEach(input => {
        data[input.name] = input.value;
    });

    console.log(data);


}
</script>

<style>
input {
    width: 100px
}
    
</style>