<!DOCTYPE html>
<html>
<head>
    <title>Pool Logger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>
    Water Test Form  for {{weekday}}
    </h1>   
    <p>Main Pool Tests:</p>
    <table border="1" cellpadding="5">
        <tr>
            <th>Time</th>
            <th>Temp</th>
            <th>Bather Load</th>
            <th>pH</th>
            <th>FAC</th>
            <th>TAC</th>
            <th>TDS</th>
            <th>Analyser pH</th>
            <th>Analyser FAC</th>
            <th>Tester Name</th>
        </tr>

        {% for row in water_tests[0] %}
            <tr>
                <td>{{ row.time }}</td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="text"></input>
                </td>
            </tr>
        {% endfor %}
    </table>
    <p>Spa Pool Tests:</p>
        <table border="1" cellpadding="5">
            <tr>
                <th>Time</th>
                <th>Temp</th>
                <th>Bath</th>
                <th>pH</th>
                <th>FAC</th>
                <th>TAC</th>
                <th>TDS</th>
                <th>Analyser pH</th>
                <th>Analyser FAC</th>
                <th>Tester Name</th>
            </tr>

        {% for row in water_tests[1] %}
            <tr>
                <td>{{ row.time }}</td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="number"></input>
                </td>
                <td>
                    <input type="text"></input>
                </td>
            </tr>
        {% endfor %}
        </table>
</body>

<script>

</script>

<style>
input {
    width: 100px
}
    
</style>